<!--
File: app.component.html
Author: Bognár Dávid Márk
Copyright: 2022, Bognár Dávid
Group: Szoft-II-N
Date: 2023-01-18
Github: https://github.com/BognarDavidMark/
Licenc: GNU GPL
-->

<div class="container">
  <h1>Feladat 0354</h1>

  <h2>Telek terület számítása</h2>

  <div class="teglalap">
      <div>
          <label for="aoldal" class="form-label">A oldal:</label>
          <div class="col-sm-2">
              <input type="text" class="form-control" [(ngModel)] = "aoldal" id="aoldal">
          </div>
      </div>

      <div class="mb-3">
          <label for="boldal" class="form-label">B oldal: </label>
          <div class="col-sm-2">
              <input type="text" class="form-control" [(ngModel)] = "boldal" id="boldal">
          </div>
      </div>

      <button class="btn btn-dark mb-2" (click)="calcTerulet()">Számítás</button>

      <div class="mb-3" *ngIf="edited">
          <label for="result" class="form-label" >Terület: </label>
          <div class="col-sm-2">
              <input type="text" class="form-control" [(ngModel)] = "terulet" disabled>
          </div>
      </div>
      
  </div>

  <div class="bg-secondary text-center">Bognár Dávid, Szoft-II-N, 2023-01-18</div>

</div>